html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    object-fit: cover; /* Faz a imagem cobrir toda a tela sem distorção */
}